PRODUCT_BUNDLE_IDENTIFIER_ROOT = com.example.podcasts
DEVELOPMENT_TEAM = ABCDE12345
APP_GROUP_IDENTIFIER = group.com.example.pocketcasts
ICLOUD_CONTAINER_IDENTIFIER = iCloud.com.example.podcasts
SJ_VIDEO_CHAPTERS_HOST = owntube.example.com
DEVICE_ID = 00000000-0000-0000-0000-000000000000
ASC_KEY_ID = KEYID12345
ASC_ISSUER_ID = 00000000-0000-0000-0000-000000000000
